.myFont{
	font-family: Trebuchet MS;
	font-size: 20px;
	color: #90e0ef;
}

.center{
	margin: auto;
	width: 855px;
	border: none;
	padding: 25px;
}


.background{
	background-color: #001d3d;
	width: 800px;
	height: 900px;
	padding: 25px;
	margin: auto;
	position: relative;
	border-radius: 4px;
}

.button{
				background-color: #003566 !important;
				border-radius: 4px !important;
				color: #90e0ef !important;
				display: inline-block !important;
				font-size: 16px !important;
				line-height: 1.3 !important;
				padding: 14px 16px !important;
				text-decoration: none !important;
				border: solid 1px #001d3d !important;
				transition: all 0.14s ease-out !important;}

.button:hover { 
  transform: translate(-4px, -4px) !important; 
  box-shadow: 4px 4px 0px #000000 !important; 
  color: #ffc300 !important; background: #003566 !important; 
}

.info{
	text-align: left;
	margin: auto;
	font-size-adjust: 14px;
}

.memeTop{
	position: relative;
	padding: 5px;
	text-align: center;
	top: 75px;
	font-size: 20px;
	color: white;
	font-family: Impact;
	text-shadow: 4px 4px #001d3d;
}

.memeBottom{
	position: relative;
	padding: 5px;
	bottom: 100px;
	padding-right: 30px;
	text-align: left;
	font-size: 23px;
	color: white;
	font-family: Impact;
	text-shadow: 4px 4px #001d3d;
}

/*
.button{
	background-color: #003566;
	border: 2px solid #001d3d;
	color: #90e0ef;
	padding: 10px 24px;
	text-align: center;
	font-size: 16px;
	border-radius: 8px;
}

.button:hover {
	background-color: #001d3d;
	color: #ffc300;
	padding: 10px 24px;
	text-align: center;
	font-size: 16px;
	border-radius: 8px;
	transition-duration: 0.4s;
}
*/